.sapUiMedia-Std-Desktop .sapUShellApplicationContainer.sapUShellApplicationContainerLimitedWidth.override {
    width: 80% !important;
}
.fontLarger {
    font-size: larger !important;
}

.MasterBackGroundGray {
    background-color: #fafafa !important;
}


.whiteBackground {
    background: white;
}

.padding1 {
    padding: 1rem;
}

.paddingTop0_3 {
    padding-top: 0.3rem !important;
}

.paddingTop0_45 {
    padding-top: 0.45rem !important;
}

.titleLabelHeader .sapMLabel {
    color: #4f84b1;
    font-size: 1rem;
    font-weight: bold;
}

.fontBold {
    font-weight: bold;
}

.font1_2 {
    font-size: 1.2rem;
}

.appTitle {
    font-size: 1.5rem;
    font-weight: bold;
}
.cardTitle {
    font-size: 1.5rem;
}

.noToolBarBorderBottm {
    border-bottom: none !important;
}

.toolBar100>div {
    width: 100% !important;
}

.labelFont1 .sapMLabel {
    font-size: 1rem;
}

.textFont1 .sapMText {
    font-size: 1rem;
}

.FontSize1 {
    font-size: 1rem;
}

.FontSize1_1 {
    font-size: 1.1rem;
}

.btnTransparent .sapMBtnInner:hover {
    background-color: none !important;
}

.headerBtns .sapMBtnInner.sapMBtnText {
    font-weight: 600;
    font-size: 1.25rem;
}

.blueBtnText .sapMBtnContent {
    color: #427CAC;
}

.headerBigText {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
}

.headerMediumText {
    font-size: 1rem !important;
    font-weight: 400 !important;
}

.fontColorBlack {
    color: black;
}

.IconTabBar .sapMITH {
    background: white;
    height: 5rem;
    box-shadow: 0 3px 4px rgb(125 125 125 / 40%);
}

.IconTabBarContent .sapMITBContent {
    background-color: #fafafa;
    border-bottom: .0625rem solid #fafafa;
}

.TopCheckBox .sapMListTblSelCol,
.sapMListTblCell,
.sapMListTblNavCol {
    vertical-align: top;
}

.StickyToolBar .sapMITH {
    position: sticky;
    z-index: 1;
    top: 6.5rem;
}

.StickyHeader {
    position: sticky;
    z-index: 1;
    top: 0;
}

.blueBtnIcon .sapMBtnInner .sapMBtnIcon {
    color: #0a6ed1;
}

.redBtnIcon .sapMBtnInner .sapMBtnIcon {
    color: #BB0000;
}

.blueBtnText .sapMBtnContent {
    color: #0a6ed1;
}

.btnWithBorder .sapMBtnInner {
    border: 1px solid #0a6ed1;
}

.tabBar .sapMITBContent {
    border-bottom: none !important;
}

.ImageBack {
    background-color: #e6e6e6;
    border-radius: 0.8rem;
}
.signBox[data-error=""] {
        border: 1px solid #dddcdc;
        border-radius: 0.3rem;
}
.signBox[data-error="X"] {
    border: 1px solid red !important;
    border-radius: 0.3rem;
}

.headerCard {
    border-bottom: 1px solid #d9d9d9;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.BlackText {
    color: black;
}

.BlueText {
    color: #0A6ED1;
}

.padding1 {
    padding: 1rem;
}

.font_082 {
    font-size: 0.82rem !important;
}

.sapSuiteUiCommonsImageEditorCanvas {
    transform-origin: top right !important;
}

.saveBtn .sapMBtnInner.sapMBtnText .sapMBtnIcon {
    color: white;
}

.card {
    box-shadow: 0 0 0 0.0625rem rgb(0 0 0 / 10%), 0 0.3rem 0.9rem 0 rgb(0 0 0 / 10%) !important;
    border-radius: 0.2rem !important;
    height: max-content !important;
    min-block-size: -webkit-fill-available !important;
}

.GridCards>section {
    padding: 1rem;
    display: grid;
    height: 95%;
    grid-gap: 10px;
    grid-template-areas:
    'header header header header header header'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
         'details details sign sign sign sign'
         'details details sign sign sign sign'
         'details details sign sign sign sign'
         'details details sign sign sign sign';
        
}

@media (min-width:320px) {
    .GridCards>section {
        grid-template-areas:
            'header'
            'subHeader'
            'subHeader2'
            'details'
            'sign';
    }
}

@media (min-width:641px) {
    .GridCards>section {
    	gap: 1rem;
        height: 95%;
        grid-template-areas:
        'header header header header header header'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'details details sign sign sign sign'
        'details details sign sign sign sign'
        'details details sign sign sign sign'
        'details details sign sign sign sign';
    }
}

@media (min-width:961px) {
    .GridCards>section {
    	gap: 1rem;
        height: 95%;
        grid-template-areas:
        'header header header header header header'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'details details sign sign sign sign'
        'details details sign sign sign sign'
        'details details sign sign sign sign'
        'details details sign sign sign sign';
    }
}

@media (min-width:1025px) {
    .GridCards>section {
    	gap: 1rem;
        height: 95%;
    	grid-template-columns: 30%;
        grid-template-areas:
        'header header header header header header'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'subHeader subHeader2 subHeader2 subHeader2 subHeader2 subHeader2'
        'details details sign sign sign sign '
        'details details sign sign sign sign '
        'details details sign sign sign sign '
        'details details sign sign sign sign ';
            
    }
}


.GridHeader {
    grid-area: header;
}

.GridSubHeader{
	grid-area: subHeader;	
}
.GridSubHeader2{
	grid-area: subHeader2;	
}
.GridDetails{
	grid-area: details;	
}
.GridSign{
	grid-area: sign;	
}
.sapMPage > section {
     position: initial; 
    /* overflow-y: hidden; */
    /* top: 0; */
    /* right: 0; */
    /* left: 0; */
    /* bottom: 0; */
    width: 100%;
    box-sizing: border-box;
}

.ScrollingPage{
	    overflow: auto;
}

.FixedFooter {
    position: sticky !important;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
}

.PagePosition.sapMNavItem.sapMPage {
    position: initial;
    top: 0;
    right: 0;
    display: block;
    height: auto;
}
.editBtn .sapMBtnInner {
    border-radius: 5rem !important;
    height: 2rem !important;
}
.editBtn .sapMBtnIcon {
    line-height: 2rem !important;
}
.inputDesign {
    height: 2.3rem !important;
}
.inputDesign {
	opacity: 1 !important;
}

.inputDesign .sapMInputBaseContentWrapper {
    border-radius: 0.5rem !important;
    height: 2.3rem !important;
}
.inputGrayBack .sapMInputBaseContentWrapper {
    border: none;
}
.inputGrayBack .sapMInputBaseInner {
    background: #e6e6e6 !important;

}
.inputWhiteBack.sapMInputBaseInner {
    background: white !important;
}
.avatarColor.sapFAvatarColorAccent6 { 
    background-color: #354a5f !important;
}
.label1size .sapMLabel {
    font-size: 1rem !important;
}